/* Write your code here */

.announcement {
    background-color: hsla(215, 6%, 51%, 0.86);
    border: 2px solid black;
    padding: 1em;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
}
